

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.content {
    background-color: whitesmoke;
    height: 500px;
    width: 800px;

}

.othersLaptops {
    width: 70%;
    height: 200px;
    background: white;
    margin-top: 25px;
}