
main {
    position: relative;
}

main h1 {
    position: absolute;
    top: 100px;
    color: white;
    font-size: 3em;
}

.menu-toggle {
    display: none;
  }

.containAllNotebooks {

    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
}

.hamburger {
    font-size: 2em;
    cursor: pointer;
    display: none; /* Esconde inicialmente */
    padding: 10px 15px;
  }



.cardNote {
    display: flex;
    color: white;
    border: 2px solid #ccc;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: #00519881;
    
}

.obs {
    color: white;
    font-size: 1em;

}

.cardNote ul {
    list-style-type: none;
}

.cardNote img {

    width: 65%;
    height: 65%;
    object-fit: cover;
}

.cardNote a {
    color: white;
    text-align: center;
}

 
@media (max-width: 776px) {

     .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1001;
        background: transparent;
        border: none;
        color: rgb(0, 0, 0);
        font-size: 2em;
        cursor: pointer;
      }

     .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #005198;
        display: none; /* Esconde o menu inicialmente */
        
    }    

    .menu a {
        color: white;
        padding: 12px 20px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .menu a:hover {
        background-color: #003366;
    }

    nav {
        flex-direction: column;
        z-index: 1;
    }

    #menu-toggle:checked ~ .menu {
        display: block;
      }


    main h1 {
        font-size: 2em;
        top: 45px;
        
    }

    main {
        height: max-content;
    }
    
    .containAllNotebooks {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
        margin-top: 100px;
        height: max-content;
        padding-bottom: 10px;

    }
    
    .cardNote {
        height: 200px;
        max-width: 100%;
    }
    
    .cardNote img {
        width: 55%;
        height: 55%;
    }

    .obs {
        width: 20%;
        position: absolute;
        top: 20px;
        right: 2px;
        font-size: .7em;
        word-wrap: break-word;
        overflow-wrap: break-word;

    }


    footer {
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .local {
        position: relative;
        padding: 0px;
    }

    .infosFooter {

        margin: auto;
        width: 100%;
        padding: 0px;



    }

    .infosFooter section {
        margin: auto;
        width: 100%;
        position: relative;
    }
    
}

@media (max-width: 400px) {
    main h1 {
        font-size: 1.8em;
        top: 10px;
    }
    
    .cardNote {
        height: 180px;
    }
    
    .obs {
        font-size: 0.9em;
    }
}