

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.content {
    background-color: whitesmoke;
    height: 600px;
    width: 900px;
    position: relative;

}

.othersLaptops {
    width: 70%;
    height: 200px;
    background: white;
    margin-top: 25px;
}

h2 {
    text-align: center;
}

.imgPrincipalProduto {

    width: 600px;
    height: 400px;
    position: absolute;
    right: 120px;
    border: 1px solid black;

}

.carroseelPropduct {
    display: flex;
    position: relative;
}

.foto {
    display: none;
}

.on {
    display: block;
}

.carroseelPropduct  img {

    width: 450px;
    height: 300px;
    object-fit: cover;
}

ul {

    list-style: none;
}

.containOthersProdutos {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 560px;
    position: absolute;
    left: 20px;
    border: 1px solid black;
    
}

.mineProducts {

    width: 85%;
    display: flex;
    height: 85px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-direction: column;
}

.mineProducts img {

    width: 65%;
    height: 65%;
    object-fit: cover;
}


.infosP {

    width: 600px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    border: 1px solid black;
    right: 120px;

}