*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}

@font-face {
  font-family: 'Roboto';
  src: url('/css/fontes/Roboto/static/Roboto_SemiCondensed-Thin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url('/css/fontes/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html {
    background: white;
    display: flex;
    justify-content: center;
}


body {
    background: #001E4B;
    font-family: 'Poppins', sans-serif; 
    width: 98%;
    max-width: 1600px;
   
 
}



header{
    position: relative;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
    height: 85px;
}

.logo {
    position: absolute;
    left:25px;
    top: 25px;
    width: 35px;
    height: 35px;
}



.search {
    position: absolute;
    left: 85px;
    display: flex;
    align-items: center;
    
}


#buttonserach {
    border: none;
    background: transparent;

}

#buttonserach img {

    width: 25px;
    height: 25px;
    margin: 10px;
}

nav {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 50px;
    width: 70%;
    right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   
}

nav a {
color:#001E4B;
margin: 20px;
text-decoration: none;
font-size: 18px;

}

nav a:hover {
    font-weight: bolder;
    margin: 20px;
    
    }

main {
    height: 1550px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.title {
  
  padding: 30px 0;
  color: #ffffff;
  background: linear-gradient(to bottom, #00122d, #002f6c);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* separa texto do ícone */
}


.painelfirst {
display: flex;
background-size:contain;
background-repeat: no-repeat;
width: 100%;
height: 800px;
}


.painelfirst img {
    flex:1;
    width: 33.33%;
    height: 600px;
}

section {
    background: #00122d;
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: relative;
    height: 955px;
}

.contentForPrincipal {
    width: 80%;
    height: 900px;
    background: linear-gradient(to bottom, #00122d, #002f6c);
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    gap: 10px;

   
}

.contentForPrincipal h1 {
  font-size: 4em;
}

.contentVideo {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobrir toda a área sem distorcer */
    transform: translate(-50%, -50%);
    z-index: -1; /* Colocar o vídeo atrás do conteúdo */
}

.containerFotos {
    position: relative;
    width: 85%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.carroseel {
    width: 700px;
    height:550px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.photo {
    width: 100%;
    flex-shrink: 0;
    display: none;
    background-size: cover;
    object-fit: cover;
  }


  .photo.active {
    display: block;
  }


  nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.5s;
  }

  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev {
    left: 10px;
    position: absolute;
    top: 50%;
  }
  
  .next {
    right: 10px;
    position: absolute;
    top: 50%;
  }

  .info {
    display: flex;
    border: 1px solid black;
    width: 100%;
    background-color: #002f6c;
    border: 2px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    
  }

  .info ul {
    list-style-type: none;
    padding: 15px;
    width: 500px;
    height: 250px;
    margin: auto;
    
  }

.contentProducts {
    background-image: url("imagens/ia/NOTESBLUE.jpg");
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 50%;
    gap: 10px;
    width: 100%;
    padding: 8px;
    height: 900px;
}

.products {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: calc(25% - 10px);
    height: 300px;
    align-items: center;
    background-color: #001E4B;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h3 {
  position: absolute;
  color: #ffffff;
  font-size: 2em;
}

.products a {
  color: white;
}

.products img {

    width: 85%;
    height: 85%;
    object-fit: cover;
}

#linkOferta {

  color: white;
  margin: auto;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

#linkOferta:hover {

  color: rgb(255, 255, 255);
  transform: scale(1.2);
}
  
.infos {
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, #00122d, #002f6c);
    
}

.infoOfertas {
  width: 100%;
}

.infos img {
   width: 50%;
   position: absolute;
   
}

.informations {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    width: 50%;
    height: 700px;
    z-index: 1;
    right: 2px;
    position: absolute;
    color: white;
   

}


.informations li {
    margin-top: 10px;
    list-style-type: "✓ ";
    color: white; /* Cor do ✓ */
    padding-left: .5em;
    margin-bottom: 50px; 
    
}

#logomoom {

    position: absolute;
    right: 15px;
    top: 15px;
    width: 90px;
    height: 70px;
}
footer {
    height: 500px;
    position: relative;
    background: rgba(0, 0, 0, 0.925);
}
  .local {

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 350px;
    right: 0px;
    top: 0px;
    padding: 50px;

  }

  .localP {
    color: wheat;
    display: flex;
    height: 80%;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .infosFooter {
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    
  }

  .infosFooter section {
    height: 230px;
    width: 80%;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    list-style-type: none;
    color: black;
    overflow: hidden;
    position: relative; /* Adicionado */
  }

  .infosFooter section h3 {
    position: absolute;
    top: 10px;
  }
  

  
  .infosFooter section ul li  {

    list-style-type: none;
    text-decoration: none;
   
  }

   
  .infosFooter section a {

    list-style-type: none;
    text-decoration: none;
  }

  .svgs {
    width: 60px;
    height: 60px;
    margin: 15px;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.6);
  }

  .slight {
    position: absolute; /* Alterado */
    white-space: nowrap; /* Para evitar quebra de linha */
    display: flex; /* Para alinhar os ícones */
    gap: 20px; /* Espaço entre os ícones */
    animation: mover 20s linear infinite;
  }

  @keyframes mover {

    0% {
      transform: translateX(-70%); /* Começa totalmente à esquerda */
  }
  100% {
      transform: translateX(75%); /* Termina totalmente à direita */

    
  }

}

.pinforAnderson {
  background-color: #00122d;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  height: 15px;
  text-align: right;
  font-style: italic;
}

footer p a {
  color: white;
  font-style: italic;
}